<%
  title = "#{@user.first_name} #{@user.last_name}'s Profile"
  provide(:title, title)
%>

<div class="general__image-gradient">
  <div class="header-mask">
    <div class="header-content">
      <div class="header-content-inner">
        <div class="col-md-12">
          </br>
		  </br>
		  </br>
		  </br>
		  <%=
            if File.exist?(Rails.root.join('app', 'assets', 'images', 'users', "#{@user.id}_profile.jpg"))
              image_tag("users/#{@user.id}_profile.jpg", class: "profile_picture")
            else
              image_tag('users/noimage.jpg', class: "profile_picture")
            end
          %>
          <h1 id="homeHeading" class="wow fadeInUp">
            <%= @user.first_name %>
            <%= @user.last_name %>
          </h1>
          <hr>

          <% if @user.user_type == "a" %>
            <%= render 'admin' %>
          <% end %>

          <% if @user.user_type == "e" %>
            <%= render 'employer' %>
          <% end %>

          <% if @user.user_type == "w" %>
            <%= render 'worker' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
