<%
  title = "#{@user.first_name} #{@user.last_name}'s Profile"
  provide(:title, title)
%>

<div class="general__image-gradient">
  <div class="header-mask">
    <div class="header-content">
      <div class="header-content-inner">
        <br/>
        <br/>
        <br/>
        <div class="col-md-6 col-md-offset-3">
          <section class="user-info">
            <%=
              if File.exist?(Rails.root.join('app', 'assets', 'images', 'users', "#{@user.id}_profile.jpg"))
                image_tag("users/#{@user.id}_profile.jpg", class: "profile_picture")
              else
                image_tag('users/noimage.jpg', class: "profile_picture")
              end
            %>
            <h1>
              <%= @user.first_name %>
              <%= @user.last_name %>
            </h1>
          </section>

          <%
            if File.exist?(Rails.root.join('public', 'uploads', 'resumes', "#{@user.id}_resume.pdf"))
          %>
          <section class="resume-status found">
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll wow fadeInUp" data-wow-delay="0.6s">View Resume</a> -->
          </section>
          <%
            else
          %>
          <section class="resume-status not-found">
            <%= render 'uploadResume' %>
          </section>
          <%
            end
          %>

          <br/>
          <br/>

          <section class="profile-body no-bottom-padding">
            <%= render 'uploadPicture' %>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
