<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= yield(:title) %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%= render 'layouts/shim' %>
    </head>

    <body id="page-top" data-scroll-animation="true">
        <div id="spinner">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <%= render 'layouts/navbar' %>

        <%= render 'layouts/header' %>

        <%= yield %>

        <%= render 'layouts/footer' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>
</html>
